@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    background-color: #211a20;
    color: #FFFFFF;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none; 
}

header {
    padding: 10vh 5% 0 5%;
}

h1 {
    position: relative;
    font-size: 68pt;
    white-space: nowrap ;
}

p {
    position: relative;
    font-size: 16pt;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

footer {
    padding: 0 5%;
    font-size: 10pt;
}

a:link, a:visited {
    color: #ffcf88;
}

a:hover {
    color: #ffcf88;
    text-decoration: none;
}

.error {
    font-size: 12vmin;
}

.footer {
    
    color: #887f8a;
    line-height: 2.5em;
}

.subheader {
    font-weight: 100;
    font-style: italic;
    font-size: 16pt;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.lunauiBold {
    font-weight: bold;
    color: #ffcf88
}

.blinking {
    animation: blink 1s ease-in-out infinite;
    opacity: 1
}

.pulse {
     /* Chrome, Safari, Opera */
     -webkit-animation: pulseAnimate 1s infinite; 
  
     /* Firefox */
     -moz-animation: pulseAnimate 1s infinite;
  
     /* Standard Syntax */
     animation: pulseAnimate 1.25s infinite; 
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
  
    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }

  }

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
  
    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}

@-moz-keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}

@keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}