@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    background-color: #2f2731;
    color: #FFFFFF;
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    position: relative;
    font-size: 5vmax;
    white-space: nowrap ;
}

p {
    position: relative
}

footer {
    padding: 0 5%;
    font-size: 1.75vmin;
}

a {
    position: relative;
}

a:link, a:visited {
    color: #ffcf88;
}

a:hover {
    color: #ffcf88;
    text-decoration: none;
}

sup {
    font-size: 0.5em;
}

.sidedrop p {
    margin: 5% 0;
}

a.sidedrop-link {
    background-color: #ffffff00;
}


a.sidedrop-link:link, a.sidedrop-link:visited {
    color: #887e6f;
    transition: all .5s ease;
    background-color: #72576c00;
}

a.sidedrop-link:hover {
    color: #ffcf88;
    border-radius: 15px;
    background-color: #72576cff;
}

.container {
    background-color: #211a20;
    display: grid;
    height: 87.5vh;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "nav main blank"
        "nav main blank";

}

header > nav {
    grid-area: nav;
    background-color: #211a20;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
    position: relative; 
    font-size: 20pt;
    padding-left: 10%;
}

header a {
    padding: 0.1rem 1rem;
    margin: 2.5% 0;
    text-align: left;
    border-radius: 15px;
    text-decoration: none;
}

.navbar div {
    margin: 2.5% 0;
}

.navbar div > .sidedrop {
    background: #4c3a48;
    border-radius: 15px;
    text-decoration: none;
    max-height: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
    top: 35px;
    width: 100%;
    margin-top: 5%;
    padding: 10% 10% 25% 10%;
}

.navbar div:hover .sidedrop {
    max-height: 25vh;
    opacity: 1;
    transform: translateY(0);
}

.navbar .arrow, .navbar div > a {
    transform: rotate(0deg);
    transition: all ease-in-out 0.1s;
}

.navbar div:hover .arrow, .navbar div:hover > a {
    color: #fff;
    transform: rotate(180deg);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    grid-area: logo;
    max-width: 60%;
    text-align: center;
}

#logo-footer {
    color: #726076;
    font-size: 2.75vmin;
}

main {
    grid-area: main;
}

.socials {
    grid-area: blank;
}

.error {
    font-size: 12vmin;
}

footer {
    padding: 1rem 0;
    height: 12.5vh;
}

.footer {
    color: #887f8a;
    line-height: 1.5em;
}

p .subheader {
    color: #887f8a;
    font-weight: 100;
    font-style: italic;
    font-size: 2.5vmin
}

.accent {
    color: #887f8a;
}


.lunauiBold {
    font-weight: bold;
    color: #ffcf88
}

.blinking {
    animation: blink 1s ease-in-out infinite;
    opacity: 1
}

.pulse {
     /* Chrome, Safari, Opera */
     -webkit-animation: pulseAnimate 1s infinite; 
  
     /* Firefox */
     -moz-animation: pulseAnimate 1s infinite;
  
     /* Standard Syntax */
     animation: pulseAnimate 1.25s infinite; 
}

@-webkit-keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}

@-moz-keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}

@keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
  
    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }

  }

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
  
    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        background-color: #211a20;
        display: block;
        height: 85vh;
    }

    header {
        display: none;
    }

    .blank {
        display: none;
    }

    .logo {
        max-width: 45%;
    }

    #logo-footer {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        background-color: #211a20;
        display: block;
        height: 90vh;
    }

    header {
        display: none;
    }

    .blank {
        display: none;
    }

    .logo {
        max-width: 80%;
    }

    #logo-footer {
        display: block;
    }
}