@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body, html {
    background-color: #2f2731   ;
    color: #FFFFFF;
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    position: relative;
    font-size: 5vmax;
    white-space: nowrap ;
}

p {
    position: relative
}

footer {
    padding: 0 5%;
    font-size: 1.75vmin;
}

a:link, a:visited {
    color: #ffcf88;
}

a:hover {
    color: #ffcf88;
    text-decoration: none;
}

a.sidedrop-link:link, a.sidedrop-link:visited {
    color: #887e6f;
}

a:hover {
    color: #ffcf88;
    text-decoration: none;
}

.container {
    background-color: #211a20;
    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "nav main blank"
        "nav main blank";

}

nav *{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 5%;
}

nav > a, nav > div {
    font-weight: bold;
    font-size: 3vmin;
    padding: 0.4rem 2rem;
    margin: 0;
}

.logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    grid-area: logo;
    max-width: 50%;
    text-align: center;
}

#logo-footer {
    color: #726076;
    font-size: 2.75vmin;
}

main {
    grid-area: main;
}

.socials {
    grid-area: blank;
}

.error {
    font-size: 12vmin;
}

footer {
    padding: 1rem 0;
}

.footer {
    color: #887f8a;
    line-height: 1.5em;
}

p .subheader {
    color: #887f8a;
    font-weight: 100;
    font-style: italic;
    font-size: 2.5vmin
}

.accent {
    color: #887f8a;
}


.lunauiBold {
    font-weight: bold;
    color: #ffcf88
}

.blinking {
    animation: blink 1s ease-in-out infinite;
    opacity: 1
}

.pulse {
     /* Chrome, Safari, Opera */
     -webkit-animation: pulseAnimate 1s infinite; 
  
     /* Firefox */
     -moz-animation: pulseAnimate 1s infinite;
  
     /* Standard Syntax */
     animation: pulseAnimate 1.25s infinite; 
}

@-webkit-keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}

@-moz-keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}

@keyframes pulseAnimate {
    100% {
        opacity: 0.4;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
  
    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }

  }

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
  
    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}